html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.catalogue-header {
  margin-bottom: 55px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.catalogue-logo {
  float: left;
  width: 150px;
}

.catalogue-navigation {
  float: left;
  width: 650px;
}

.navigation li {
  display: inline-block;
}

.user-block {
  float: right;
  width: 140px;
}

.catalogue-title {
  width: 310px;
  margin-bottom: 70px;
}

.catalogue-selection {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.catalogue-gallery {
  float: right;
  width: 700px;
  margin-bottom: 20px;
  /*только для разметки сетки*/
  min-height: 290px;
}

.catalogue-item {
  float: left;
  width: 220px;
  margin-right: 10px;
}

.catalogue-item:last-child {
  margin-right: 0;
}

.catalogue-pages {
  display: inline-block;
  width: 195px;
  margin-top: 20px;
}

.pagination li {
  display: inline-block;
}

.catalogue-footer {
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}
